[submodule "ppdc-timed-generator"]
	path = ppdc-timed-generator
	url = https://github.com/Santasy/INFO81-S2-G1-DesCom01.git
[submodule "ppdc_event_manager"]
	path = ppdc_event_manager
	url = https://github.com/Santasy/INFO081-S2-DesCom02
